# Root
node_modules
.env
.DS_Store
.idea
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# api
packages/api/target
packages/api/.env
packages/api/.sqlx

# web
packages/web/node_modules
packages/web/.nuxt
packages/web/.output
packages/web/dist
packages/web/.env
packages/web/.cache
packages/web/types/github-api.ts

# ui
packages/ui/dist
packages/ui/node_modules

*storybook.log

# orgmode
org/refile.org
org/work
